$background-color: #191922 !default;

// $base-font-family: 'Open Sans', normal;
$base-font-family: 'Ubuntu Mono', monospace;
$base-font-size: 18px;

// Remove thin border at the top.
.site-header {
    border-top: 0px !important;
}

// Set small Odra image in header. 
.site-title {
    img {
        height: 40px !important;
    }
}

// Remove underscore on hover in header.
.site-title:hover {
    text-decoration: none !important;
}

